<h1>Word List</h1>
<div class= "admin_word">
<center>  <table class="users-table table table-hover table-bordered">
    <thead>
      <tr class="info">
        <th class="text-center"> STT </th>
        <th class="text-center"> Word </th>
        <th class="text-center"> Category </th>
        <th class="text-center"> Action </th>
      </tr>
    </thead>
    <tbody>
      <% @words.each_with_index do |word, index| %>
        <tr >
          <td class="text-center"><%= index + 1 %></td>
          <td class="text-center"><%= word.content %></td>
          <td class="text-center"><%= word.category.name %></td>
          <td class="text-center"><%= link_to t(".delete"), admin_word_path(word),
              method: :delete, data: {confirm: "Do you want to delete?"} %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <div class= "div-search">
  <%= form_tag "", method: :get do %>
      <%= select_tag :category_id,
        options_from_collection_for_select(@categories, :id, :name, params[:category_id]),
          include_blank: t(".all"), class: "form-control" %>
      <%= submit_tag t("admin.search_word"), class: "btn btn-primary" %>
    <% end %>
  </div>
    <%= will_paginate @words %>
</center>
</div>
