<% provide :title, @user.name %>
<div class="row">
  <div class="user_infomation">
    <aside class="col-md-4">
      <section class="user_info" id="user_info">
        <%= gravatar_for @user %></br>
      </section>
      <h3 class="user_name"><%= @user.name %></h3>
      <section class="stats" id="stats">
        <%= render "shared/stats" %>
      </section>
    <div class="col-md-8" id="follow_form">
      <%= render "follow_form" %>
    </div>
    </aside>
  </div>
  <div class="col-md-8">
    <%= render "activities" %>
  </div>
</div>
