<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="clearfix"></div>
    <div class="col-md-6">
      <br/>
      <table>
        <thead>
          <th><%= t ".lesson" %></th>
          <th><%= t ".category" %></th>
          <th><%= t ".status" %></th>
          <th><%= t ".score" %></th>
        </thead>
        <tbody>
          <% @user.lessons.each do |lesson| %>
            <tr>
              <td><%= link_to t("views.users.show.lesson",id: lesson.id),
                lesson_path(lesson) %>
                </td>
              <td><%= lesson.category.name %></td>
              <% if lesson.is_learned? %>
                <td><%= t ".finished" %></td>
                <td><%= lesson.score %></td>
              <% else %>
                <td><%= t ".doing" %></td>
                <td>-</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <%= render "activities" %>
    </div>
  </div>
</div>
