<h1>All words</h1>
<div class="words_list">
  <%= form_tag words_path, method: :get, id: "form-filter-words" do %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="head">
          <div class="form-filter">
            <div class="col-md-3 form-group">
              <%= label_tag :category_id %>
              <%= select_tag :by_category, options_from_collection_for_select(@categories, :id, :name, params[:by_category]),
          include_blank: t(".all"), class: "form-control" %>
            </div>
            <div class="col-md-8 form-group">
              <span>
                  <% Settings["word_list"].each do |type| %>
                  <%= radio_button_tag :word_type, type, params[:word_type] == type,
                    class: "form-control" %>
                  <%= label_tag type %>
                <% end %>
                <%= submit_tag t("view.word_lists.search"), class: "btn btn-primary col-md-2" %>
              </span>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th><%= t "page.front-end.words.index.STT" %></th>
                  <th><%= t "page.front-end.words.index.content" %></th>
                  <th><%= t "page.front-end.words.index.category" %></th>
                </tr>
              </thead>
              <tbody class="words-rows">
                <%= render "word" %>
              </tbody>
            </table>
            <%= will_paginate @words%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
