<%= provide :title,"list category" %>
<center>
  <h1><%= "list category" %></h1>
</center>
<%= will_paginate %>
<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item">
    <table>
      <tr>
        <td> <%= link_to category.name, admin_category_path(category) %></td>
        <td>
          <% unless user.is_admin? %>
            <%= link_to t("views.categories.delete"), admin_category_path(category),
              method: :delete, data: {confirm: t("admin.confirm")} %>
          <% end %>
        </td>
      </tr>
    </table>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
